doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title #{applicationName}: Plan your commute and compare your transportation options
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no, minimal-ui')
    meta(name='description', content='Plan your commute, compare your transportation options, and find the most carbon effective, healthiest, and cheapest way to travel.')
    meta(name='google-site-verification', content='#{google_site_verification}')
    link(rel='shortcut icon', href='#{static_url}/images/application/favicon.png')
    link(href='#{static_url}/build/planner-app/build.css?v=#{version}', rel='stylesheet')

    if google_analytics_key
        script(async, src='https://www.googletagmanager.com/gtag/js?id=#{goole_analytics_key}')
        script(type='text/javascript').
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', '#{google_analytics_key}')

  body
    #main
    noscript
      h1(style='text-align:center;') JavaScript must be enabled to use this website.
    script(type='text/javascript').
      if (!document.body.classList) {
        window.alert('Please use a modern browser or this website will not run correctly.\\n Modern browsers include Google Chrome, Mozilla Firefox, and Microsoft Internet Explorer (version 10 or better).');
      }
    script(src='https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.5/clipboard.min.js')
    if user
      script(type='text/javascript').
        window.USER=!{user}
    script(src='#{static_url}/build/planner-app/build.js?v=#{version}', defer)
