doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title #{application}: Plan your commute and compare your transportation options
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no, minimal-ui')
    meta(name='description', content='Plan your commute, compare your transportation options, and find the most carbon effective, healthiest, and cheapest way to travel.')
    meta(name='google-site-verification', content='#{google_site_verification}')
    link(rel='shortcut icon', href='#{static_url}/images/application/favicon.png')
    link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css', rel='stylesheet')
    link(href='https://api.tiles.mapbox.com/mapbox.js/v2.2.1/mapbox.css', rel='stylesheet')
    if minified
      link(href='#{static_url}/build/planner-app/build.min.css?v=#{version}', rel='stylesheet')
    else
      link(href='#{static_url}/build/planner-app/build.css?v=#{version}', rel='stylesheet')

    if segmentio_key
      script(type='text/javascript').
        !function(){var analytics=window.analytics=window.analytics||[];if(!analytics.initialize)if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","group","track","ready","alias","page","once","off","on"];analytics.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);analytics.push(e);return analytics}};for(var t=0;t<analytics.methods.length;t++){var e=analytics.methods[t];analytics[e]=analytics.factory(e)}analytics.load=function(t){var e=document.createElement("script");e.type="text/javascript";e.async=!0;e.src=("https:"===document.location.protocol?"https://":"http://")+"cdn.segment.com/analytics.js/v1/"+t+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(e,n)};analytics.SNIPPET_VERSION="3.0.1";}}();
        analytics.load("#{segmentio_key}");
        analytics.page();
  body
    #main
    noscript
      h1(style='text-align:center;') JavaScript must be enabled to use this website.
    script(type='text/javascript').
      if (!document.body.classList) {
        window.alert('Please use a modern browser or this website will not run correctly.\\n Modern browsers include Google Chrome, Mozilla Firefox, and Microsoft Internet Explorer (version 10 or better).');
      }
    script(src='https://api.tiles.mapbox.com/mapbox.js/v2.2.1/mapbox.js')
    if user
      script.
        window.USER=!{user}
    if minified
      script(src='#{static_url}/build/messages/en.min.js?v=#{version}')
      script(src='#{static_url}/build/planner-app/build.min.js?v=#{version}')
    else
      script(src='#{static_url}/build/messages/en.js?v=#{version}')
      script(src='#{static_url}/build/planner-app/build.js?v=#{version}')
